.contenedorEstadoContacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid #f0f2f5;
    height: 70px;
    animation: ease-in 100;
}

.contenedorEstadoContacto:hover{
    background-color: #f5f6f6;
    cursor: pointer;
}

.nombreEstado{
    color: #000;
}

.fechaEstado{
    color: #c2c6c9;
    font-size: 12px;
}