.contenedorTituloPagina{
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}