.contenedorPrincipalChats {
    height: 100vh;
    width: 100vw;
    background-color: #dbd8d4;
    display: flex;
    align-items: center;
    justify-content: center;

    .fondoVerde {
        position: fixed;
        height: 20vh;
        width: 100vw;
        background-color: #00a884;
        top: 0;
        left: 0;
    }

    .contenedorChats {
        height: 95vh;
        width: 95vw;
        background-color: #fff;
        z-index: 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .barraNavegacion {
            width: 5%;
        }

        .chats {
            width: 95%;
        }
    }

    .truncado {
        white-space: nowrap;
        /* Evita que el texto haga saltos de línea */
        overflow: hidden;
        /* Oculta el texto que se desborda */
        text-overflow: ellipsis;
        /* Agrega los puntos suspensivos */
        max-width: 120px;
        /* Ajusta este valor según el diseño */
    }

}