
.contenedorEncabezado {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    img {
        height: 4vh;
    }
}